@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #2f2f2f;
}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 3px solid #daa520;
  background-color: black;
}

.header-left h1 {
  color: white;
  text-align: center;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: #e3b062;
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav-white {
  width: 40%;
  background-color: white;
  border: 3px solid #daa520;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white h3 {
  color: black;
  padding: 0;
  margin: 0;
}

.kpipai {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  
}
.kpi1{
  margin-right: -250px;
  background-color: black;
}

.kpi2{
  margin-right: -250px;
  background-color: black;

}

.kpi1, .kpi2 {
  display: flex;
  width: 300px;
  height: 180px;
  align-items: center;
  justify-content: center;
   background-color: black;
  color: white;
  border: 2px solid #daa520;
  border-radius: 15px;
}
